<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vension.fastframe.module_news">

    <application
        android:allowBackup="true">

        <activity android:name="com.vension.fastframe.module_news.ui.NewsMainActivity"
                  android:theme="@style/SwipeBackTheme"
                  android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>

</manifest>